{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 liz">
      <h3> {{user.username| capitalize}} </h3>
  
      {% if user.bio %}
        <p> {{user.bio}}</p>
      {%else%}
        <p> {{user.username| capitalize}} has no bio </p>
      {% endif %}
      {%if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Profile</a>
      {%endif%}
    </div>
  
    <div class="col-md-5 beth">
      {% if user.profile_pic_path %}
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
      {%else%}
      <p>No profile picture</p>
      {% endif %}
      {% if user == current_user %}
      <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
        <input type="file"  name="photo" class="form-control" required>
        <input type="submit">
      </form>
      {% endif %}
    </div>
  </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      {% for blog in blogs %}

      <tr>
        <th scope="row">{{blog.title}}</th>
        <td>{{blog.category}}</td>
        <td>{{blog.content}}</td>
        <td>{{blog.created_by| capitalize}}</td>
        <td>{{blog.date_posted.strftime('%Y-%m-%d')}}</td>
        <td><a href="{{ url_for('main.delete_blog',id=blog.id)}}" class="text-danger" title="Delete Blog" ><i class="far fa-trash-alt"></i></a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>

    <div class="container">
        <div class="row">
            <div class="col-md-4"><a href="/">Boo Blog </a></div>
            <div class="col-md-4"><a href="{{url_for('auth.logout')}}">Sign out</a></div>

            <div class="col-md-4"><a href="{{url_for('auth.login')}}">Sign in</a></div>


        </div>
        <br>
        <div>
            <p class="text-center"> &copy Elizbeth 2021</p>
        </div>
    </div>

</footer>
{% endblock %} 

