.liz{
padding: 2rem;
border-radius: 20px;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);

}
 .beth{
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 5rem;
 }

 body{
    background-image: url("https://thumbs.dreamstime.com/b/blue-mystic-abstract-mandala-background-purple-color-bohemian-138111376.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
 }

.footer1{
     background-color:wheat;
 }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#dab6fc;

}
.link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.navbar{
    border: none;
}
.blockquote{
     box-shadow: burlywood;

}
